fastapi>=0.110.0
uvicorn>=0.27.1
pydantic>=2.7.1
langchain>=0.1.20
langchain-google-genai>=0.0.11
langgraph>=0.0.11
wikipedia-api>=0.6.0
python-multipart>=0.0.9
typing-extensions>=4.9.0
langchain-core~=0.3.65
wikipedia~=1.4.0
python-dotenv~=1.1.0
pytrends~=4.9.2
requests~=2.32.4
rich~=14.0.0